img.Frame-1 {
  object-fit: cover;
}

.logo {
  width: 220px;
  height: 60px;
  margin-left: 3%;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 2%;
  margin-left: 26%;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: rgb(6, 44, 184);
  text-decoration: none;
}

.login-button {
  background-color: #f79901;
  border-radius: 50px;
  width: 8%;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: -4.5%;
  margin-left: 64%;
}

.register-button {
  background-color: #F79901;
  border-radius: 50px;
  width: 8%;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: -7%;
  margin-left:73%;
}

.areYouNew-button {
  background-color: #F79901;
  border-radius: 5px;
  width: 10%;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 8%;
  margin-left:0px;
}

.sendNow-button {
  background-color: #F79901;
  border-radius: 50px;
  width: 6%;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 4%;
  margin-left:60%;
  box-shadow: 0 2px 4px #c37800d4;
}
