.aboutUs5Child {
  position: absolute;
  top: calc(50% - 760px);
  left: calc(50% - 960px);
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0.3),
    rgba(203, 226, 255, 0.6) 50.52%,
    rgba(253, 171, 1, 0.6) 96.35%
  );
  width: 1920px;
  height: 1520px;
}
.profilesChild {
  position: absolute;
  top: calc(50% - 545.76px);
  left: calc(50% + 288.96px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 313.78px;
  height: 456px;
}
.snskakaotalkIcon {
  position: absolute;
  top: calc(50% - 148.39px);
  left: calc(50% + 458.83px);
  width: 25.3px;
  height: 24.41px;
}
.glyphLogoMay20161Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profilesItem,
.snsfacebook,
.snsinstagram {
  position: absolute;
  top: calc(50% - 148.39px);
  left: calc(50% + 357.65px);
  width: 25.3px;
  height: 24.41px;
}
.profilesItem,
.snsfacebook {
  left: calc(50% + 408.24px);
}
.profilesItem {
  top: calc(50% - 545.76px);
  left: calc(50% - 161.73px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 313.78px;
  height: 456px;
}
.snsfacebook1,
.snsinstagram1 {
  position: absolute;
  top: calc(50% - 148.39px);
  left: calc(50% - 96.27px);
  width: 25.3px;
  height: 24.41px;
}
.snsfacebook1 {
  left: calc(50% - 45.68px);
}
.profilesChild1,
.profilesInner,
.rectangleDiv {
  position: absolute;
  top: calc(50% + 89.77px);
  left: calc(50% - 161.73px);
  border-radius: var(--br-mini);
  background-color: var(--light-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 313.78px;
  height: 456px;
}
.profilesChild1,
.rectangleDiv {
  left: calc(50% + 288.96px);
  background-color: var(--color-whitesmoke-100);
  border: 4px solid var(--color-gold);
}
.profilesChild1 {
  top: calc(50% - 545.76px);
  left: calc(50% - 600.59px);
  background-color: var(--light-text-color);
  border: 4px solid var(--color-midnightblue);
}
.rectangleIcon,
.snskakaotalkIcon1 {
  position: absolute;
  top: calc(50% - 148.39px);
  left: calc(50% - 432.87px);
  width: 25.3px;
  height: 24.41px;
}
.rectangleIcon {
  top: calc(50% + 89.77px);
  left: calc(50% - 606.74px);
  border-radius: var(--br-mini);
  width: 321.78px;
  height: 464px;
}
.screenshot20230815At813,
.screenshot20230815At814 {
  position: absolute;
  top: calc(50% - 514.48px);
  left: calc(50% - 529.75px);
  width: 175.33px;
  height: 196.22px;
  object-fit: cover;
}
.screenshot20230815At813 {
  top: calc(50% - 515.45px);
  left: calc(50% + 357.65px);
  height: 197.2px;
}
.screenshot20230815At8141,
.screenshot20230815At815,
.screenshot20230815At816 {
  position: absolute;
  top: calc(50% - 514.48px);
  left: calc(50% - 89.81px);
  width: 175.33px;
  height: 196.22px;
  object-fit: cover;
}
.screenshot20230815At815,
.screenshot20230815At816 {
  top: calc(50% + 121.05px);
  left: calc(50% - 96.27px);
}
.screenshot20230815At815 {
  left: calc(50% - 534.05px);
}
.minsuKim {
  margin: 0;
  font-size: var(--font-size-3xl);
}
.blankLine {
  margin: 0;
}
.leadBackendDeveloper {
  margin: 0;
  font-size: var(--font-size-lg);
}
.minsuKimLeadContainer {
  position: absolute;
  top: calc(50% + 342.66px);
  left: calc(50% - 555.56px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 226.96px;
  height: 101.53px;
}
.interestedInWorking {
  margin: 0;
  font-weight: 600;
}
.blankLine2 {
  margin: 0;
  font-size: var(--h4-size);
  font-weight: 800;
}
.interestedInWorkingContainer {
  position: absolute;
  top: calc(50% + 374.88px);
  left: calc(50% + 312.47px);
  letter-spacing: 0.46px;
  text-align: left;
  display: inline-block;
  width: 266.76px;
  height: 36.12px;
  font-size: var(--paragraphe-size);
}
.snsfacebook2,
.snsinstagram2,
.snsinstagram3,
.snskakaotalkIcon2 {
  position: absolute;
  top: calc(50% - 148.39px);
  left: calc(50% - 534.05px);
  width: 25.3px;
  height: 24.41px;
}
.snsfacebook2,
.snsinstagram3,
.snskakaotalkIcon2 {
  left: calc(50% - 483.46px);
}
.snsinstagram3,
.snskakaotalkIcon2 {
  top: calc(50% + 486.17px);
  left: calc(50% + 4.91px);
}
.snsinstagram3 {
  left: calc(50% - 96.27px);
}
.applyNow,
.snsfacebook3,
.snsfacebook4,
.snsinstagram4,
.snskakaotalkIcon3 {
  position: absolute;
  top: calc(50% + 486.17px);
  left: calc(50% - 45.68px);
  width: 25.3px;
  height: 24.41px;
}
.applyNow,
.snsfacebook4,
.snsinstagram4,
.snskakaotalkIcon3 {
  left: calc(50% - 428.57px);
}
.applyNow,
.snsfacebook4,
.snsinstagram4 {
  left: calc(50% - 529.75px);
}
.applyNow,
.snsfacebook4 {
  left: calc(50% - 479.16px);
}
.applyNow {
  top: calc(50% + 435.4px);
  left: calc(50% + 327.53px);
  letter-spacing: 0.46px;
  font-weight: 800;
  color: var(--color-royalblue-100);
  display: inline-block;
  width: 236.64px;
  height: 27.33px;
}
.noProfilePictureIcon181 {
  position: absolute;
  top: calc(50% + 121.05px);
  left: calc(50% + 357.65px);
  width: 175.33px;
  height: 196.22px;
  object-fit: cover;
}
.shinbeomKwonFrontendContainer {
  position: absolute;
  top: calc(50% - 290.92px);
  left: calc(50% - 569.55px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 268.91px;
  height: 123.98px;
}
.blankLine8 {
  margin: 0;
  font-size: var(--font-size-9xl);
}
.junheeHanBackendContainer,
.sangjunMinLeadContainer,
.tanviKherFullContainer {
  position: absolute;
  top: calc(50% - 288.97px);
  left: calc(50% + 331.83px);
  letter-spacing: 0.46px;
  display: inline-block;
  width: 236.64px;
  height: 106.41px;
}
.junheeHanBackendContainer,
.tanviKherFullContainer {
  top: calc(50% + 343.64px);
  left: calc(50% - 117.78px);
  width: 223.73px;
  height: 123.01px;
}
.tanviKherFullContainer {
  top: calc(50% - 288.97px);
  left: calc(50% - 113.48px);
  width: 222.66px;
  height: 124.96px;
}
.profiles {
  position: absolute;
  top: calc(50% - 566.71px);
  left: calc(50% - 557.71px);
  width: 1201.48px;
  height: 1087.53px;
}
.team {
  color: var(--color-royalblue-100);
}
.meetOurTeamContainer {
  position: absolute;
  top: calc(50% - 760px);
  left: calc(50% - 192px);
  font-size: var(--h2-size);
  letter-spacing: 0.46px;
  display: inline-block;
  text-align: left;
  width: 426.45px;
  height: 74.21px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutUs5 {
  position: absolute;
  top: calc(50% + 1069.5px);
  left: calc(50% - 960px);
  width: 1920px;
  height: 1520px;
  text-align: center;
  font-size: var(--h4-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
