.maskGroupIcon {
  position: absolute;
  top: 144px;
  left: calc(50% - 809px);
  width: 298.84px;
  height: 309.85px;
}
.bg {
  position: absolute;
  top: calc(50% - 336.5px);
  left: calc(50% + 254px);
  border-radius: var(--br-5xs);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(181, 193, 255, 0.74),
      rgba(79, 119, 227, 0.75) 28.34%,
      rgba(132, 160, 237, 0.46) 66.67%,
      rgba(247, 249, 255, 0.65)
    ),
    #d7d7d7;
  width: 706px;
  height: 734px;
}
.yourStrategyIs {
  margin: 0;
}
.h2 {
  position: absolute;
  top: calc(50% - 107.5px);
  left: calc(50% - 724px);
  letter-spacing: 0.2px;
  text-transform: capitalize;
  display: inline-block;
  width: 510px;
}
.headerImageIcon {
  position: absolute;
  top: calc(50% - 282.8px);
  left: calc(50% - 171px);
  border-radius: var(--br-45xl);
  width: 763px;
  height: 616.3px;
  object-fit: cover;
}
.aboutUs1 {
  position: absolute;
  top: calc(50% - 2703.5px);
  left: calc(50% - 960px);
  background: linear-gradient(
    144.35deg,
    rgba(253, 171, 1, 0.43),
    rgba(253, 171, 1, 0.08) 87.23%
  );
  width: 1920px;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-300);
  font-family: var(--paragraph);
}
