.home {
  left: 0;
  letter-spacing: 0.2px;
  font-weight: 500;
  width: 44.49px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutUs,
.home,
.myAccount,
.services {
  position: absolute;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.aboutUs {
  left: 614.84px;
  color: var(--primary-color);
  width: 66.16px;
}
.myAccount,
.services {
  left: 387.84px;
  font-weight: 500;
  width: 85.55px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.services {
  left: 185.93px;
  width: 60.46px;
}
.topNavMenu {
  position: absolute;
  top: 15px;
  left: 519px;
  width: 681px;
  height: 24px;
  text-align: left;
  color: var(--color-black);
}
.text {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.iconWrapper {
  position: relative;
  width: 16px;
  height: 16px;
}
.loginButton,
.registerBtn {
  position: absolute;
  top: 7px;
  left: 1445px;
  border-radius: var(--br-xl);
  background-color: var(--primary-color);
  box-shadow: var(--drop-shadow-button-primary);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.registerBtn {
  left: 1613px;
}
.logoIcon,
.topNavBar {
  position: absolute;
  height: 54.54px;
}
.logoIcon {
  top: 0;
  left: 0;
  width: 210.77px;
  object-fit: cover;
}
.topNavBar {
  top: 34px;
  left: 100px;
  width: 1763px;
}
.span {
  color: var(--color-silver);
}
.aboutUs1 {
  color: var(--color-royalblue-200);
}
.homeAboutContainer {
  position: absolute;
  top: calc(50% + 78px);
  left: calc(50% - 776px);
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-inter);
  text-align: left;
  width: 525px;
  height: 21px;
  color: var(--color-black);
}
.topNavBarParent {
  position: absolute;
  top: calc(50% - 2953.5px);
  left: calc(50% - 960px);
  width: 1920px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--light-text-color);
  font-family: var(--paragraph);
}
