.centered1 {
  position: relative;
  top: 18vh;
  left: 12%;
  font-size: 60px;
  color: rgba(222, 222, 222, 0.689);
  font-weight: 600;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.centered2 {
  position: relative;
  top: 70vh;
  left: 13%;
  font-size: 60px;
  color: rgba(222, 222, 222, 0.689);
  font-weight: 600;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.centered3 {
  position: relative;
  top: 46vh;
  left: 69%;
  font-size: 60px;
  color: rgba(222, 222, 222, 0.689);
  font-weight: 600;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#box1-image,
#box2-image {
  transition: transform 0.7s ease;
  float: left;
  width: 50%;
  height: 50vh;
}

#box3-image {
  transition: transform 0.7s ease;
  float: right;
  width: 50%;
  height: 100vh;
}

#box1-image:hover {
  transform: scale(0.97);
}

#box2-image:hover {
  transform: scale(0.97);
}

#box3-image:hover {
  transform: scale(0.97);
}

.imageContainer {
  position: relative;
}

.imageContainer:hover .centered1,
.imageContainer:hover .centered2,
.imageContainer:hover .centered3 {
  box-shadow: 50px 50px 200px rgba(0, 0, 0);
  transition: color .3s ease-in-out, box-shadow .7s ease-in-out;
}

.imageContainer:hover .centered1 {
  color: rgb(0, 68, 255);
}

.imageContainer:hover .centered2 {
  color: rgb(111, 255, 0);
}

.imageContainer:hover .centered3 {
  color: rgb(255, 217, 0);
}


/* Media queries for responsive font sizes */
/* Medium screens */
@media (max-width: 991px) and (min-width: 768px) {
  .display-text {
    margin-top: 6% !important;
    font-size: 25px;
  }
}

/* Small screens */
@media (max-width: 767px) and (min-width: 576px) {
  .display-text {
    margin-left: 3% !important;
    margin-top: 5% !important;
    font-size: 16px;
  }
}

/* Extra small screens */
@media (max-width: 575px) and (min-width: 301px) {
  .display-text {
    margin-left: -5% !important;
    margin-top: 13% !important;
    font-size: 16px;
  }
}

/* Extra small screens */
@media (max-width: 300px) {
  .display-text {
    margin-left: -5% !important;
    margin-top: 20% !important;
    font-size: 10px;
  }
}

/* Media queries for responsive font sizes End */