.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(239, 238, 238);
  width: 507px;
  height: 99px;
}
.adress {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 403px;
  flex-shrink: 0;
  color: grey;
}
.adressWrapper {
  position: absolute;
  top: 35px;
  left: 80px;
  width: 69px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.interfaceEssentiallocationIcon,
.rectangleParent {
  position: absolute;
  top: 34.57px;
  left: 27px;
  width: 30px;
  height: 30px;
}
.rectangleParent {
  top: 398.43px;
  left: 0;
  width: 507px;
  height: 99px;
  text-align: left;
  font-size: var(--h3-size);
  color: grey;
  font-family: var(--font-poppins);
}
