.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(239, 238, 238);;
  width: 507px;
  height: 99px;
}
.reEnterPassword {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 400px;
  flex-shrink: 0;
}
.reEnterPasswordWrapper {
  position: absolute;
  top: 33px;
  left: 78px;
  width: 400px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: grey;
}
.iconfeatherIcon {
  position: absolute;
  top: 36px;
  left: 24px;
  width: 34px;
  height: 32px;
  overflow: hidden;
}
.groupItem,
.rectangleParent {
  position: absolute;
  top: 398.43px;
  left: 0;
  width: 507px;
  height: 99px;
}
.groupItem {
  top: 106.43px;
  border-radius: 10px;
  background-color: rgb(239, 238, 238);;
}
.iconlyboldprofile {
  position: absolute;
  height: 13.19%;
  width: 6.71%;
  top: 0;
  right: 89.55%;
  bottom: 86.81%;
  left: 3.75%;
}
.id {
  position: relative;
  font-weight: 500;
}
.idWrapper {
  position: absolute;
  top: 142px;
  left: 78px;
  width: 397px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color:grey;
}
.iconfeatherIcon1 {
  position: absolute;
  top: 145px;
  left: 27px;
  width: 28px;
  height: 30px;
  overflow: hidden;
}
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 507px;
  height: 205.43px;
}
.password {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 394px;
  flex-shrink: 0;
}
.passwordWrapper {
  position: absolute;
  top: 37px;
  left: 78px;
  width: 394px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: grey;
}
.interfaceEssentialkeyIcon {
  position: absolute;
  top: 38px;
  left: 26px;
  width: 30px;
  height: 30px;
}
.groupParent,
.rectangleContainer {
  position: absolute;
  top: 252.43px;
  left: 0;
  width: 507px;
  height: 99px;
}
.groupParent {
  top: 0;
  height: 497.43px;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--color-lightslategray);
  font-family: var(--font-poppins);
}

/* user inputs */
.reEnterPassword,
.id,
.password {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  flex-shrink: 0;
  background-color: rgb(239, 238, 238); /* New background color */
  color: #000000; /* New text color */
  font-size: 30px; /* New font size */
  border: 0;
}
.reEnterPassword::placeholder,
.id::placeholder,
.password::placeholder {
  color: #999; /* New placeholder color */
}