@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PingFang+SC:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Han+Sans+CN:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --paragraphe: "PingFang SC";
  --paragraph: Roboto;
  --font-source-han-sans-cn: "Source Han Sans CN";
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --paragraphe-size: 16px;
  --h3-size: 24px;
  --paragraph-size: 14px;
  --h4-size: 20px;
  --h2-size: 40px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-31xl: 50px;
  --font-size-xs: 12px;
  --h1-size: 58px;

  /* Colors */
  --light-text-color: #fff;
  --primary-color: #f79901;
  --color-silver: #b9b9b9;
  --color-lightslategray: #8b8fa8;
  --color-whitesmoke-300: #f5f5f7;
  --color-whitesmoke-100: #f5f4f4;
  --gray-6: #f2f2f2;
  --color-whitesmoke-200: #efefef;
  --color-darkslategray-100: #2e2e2e;
  --text: #252b42;
  --color-gray-100: #232120;
  --color-gray-300: #141414;
  --color-gray-200: rgba(255, 255, 255, 0.5);
  --color-royalblue-100: #1060e1;
  --color-royalblue-200: #1056c6;
  --color-black: #000;
  --color-midnightblue: #201373;
  --color-gold: #ffc522;
  --color-dimgray-100: #676767;
  --second-text-color: #4d4d4d;

  /* Gaps */
  --gap-11xs: 2px;
  --gap-xs: 12px;
  --gap-13xl: 32px;
  --gap-31xl: 50px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-61xl: 80px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-11xs-5: 1.5px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-5xl: 24px;
  --br-base: 16px;
  --br-45xl: 64px;
  --br-5xs: 8px;
  --br-12xs: 1px;
  --br-11xl: 30px;
  --br-11xs: 2px;
  --br-xs: 12px;
  --br-31xl: 50px;

  /* Effects */
  --shadow-new: 0px 24px 56px rgba(157, 66, 0, 0.1);
  --drop-shadow-button-primary: 0px 2px 0px rgba(0, 0, 0, 0.04);
}
