.maskGroupIcon,
.maskGroupIcon1 {
  position: absolute;
  top: calc(50% - 147.21px);
  left: calc(50% - 278.97px);
  width: 396.93px;
  height: 401.41px;
}
.maskGroupIcon1 {
  top: calc(50% - 254.21px);
  left: calc(50% - 117.97px);
}
.signUp {
  position: absolute;
  top: 229px;
  left: 117px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 211px;
  height: 110px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.maskGroupParent {
  position: absolute;
  top: calc(50% - 744.5px);
  left: calc(50% + 175px);
  width: 557.93px;
  height: 508.41px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
