body {
    margin: 0;
    padding: 0;
}

.container {
  padding-top: 0;
}

img.img-fluid {
  height: 100vh;
  width: auto;
}

.continueButton {
  margin-left: 25%;
  margin-top: 10% !important;
  background-color: #F79901!important;
  border-radius: 10px !important;
  width: 50%!important; 
  height: 40px!important;
  color: white!important;
  text-align: center!important;
  font-size: 16px!important;
  border: none!important;
}

.continueButton:hover {
  background-color: #ff9d00cf !important;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}