body {
    margin: 0;
    padding: 0;
}

.container {
  padding-top: 0;
}

img.img-fluid {
  height: 100vh;
  width: auto;
}

.continueButton {
  margin-left: 25%;
  margin-top: 10% !important;
  background-color: #F79901!important;
  border-radius: 10px !important;
  width: 50%!important; 
  height: 40px!important;
  color: white!important;
  text-align: center!important;
  font-size: 16px!important;
  border: none!important;
}

.continueButton:hover {
  background-color: #ff9d00cf !important;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}


/* Media queries for responsive font sizes */

@media (min-width: 1200px) {
  .responsive_box {
    width:450px !important;
    margin-left: 10% !important;
  }

  .reponsive_char {
    font-size: 16px !important;
    margin-left: 2% !important;
  }

  .h1 {
    font-size: 28px !important;
    margin-left: 28% !important;
  }

  .continueButton {
    margin-bottom: 10%;
    margin-left: 16% !important;
    width: 50% !important;
  }
}


/* Large screens */
@media (max-width: 1600px) and (min-width: 1201px) {
  .continueButton {
    margin-bottom: 10%;
    margin-left: 20% !important;
    width: 50% !important;
  }

  .h1 {
    font-size: 28px !important;
    margin-left: 30% !important;
  }

}

/* Medium screens */
@media (max-width: 1200px) and (min-width: 801px) {
  img.img-fluid {
    height: 100% !important;
    width: 100%;
  }

  .responsive_box {
    width:350px !important;
    margin-left: 10% !important;
  }

  .reponsive_char {
    font-size: 10px !important;
    margin-left: 14% !important;
  }

  .h1 {
    font-size: 28px !important;
    margin-left: 28% !important;
  }

  .continueButton {
    margin-bottom: 10%;
    margin-left: 23% !important;
    width: 50% !important;
  }
}

/* Small screens */
@media (max-width: 800px) and (min-width: 501px) {
  img.img-fluid {
    height: 100% !important;
    width: 100%;
  }

  .responsive_box {
    width:300px !important;
    margin-left: 25% !important;
  }

  .reponsive_char {
    font-size: 10px !important;
    margin-left: 20% !important;
  }

  .h1 {
    font-size: 28px !important;
    margin-left: 36% !important;
  }

  .continueButton {
    margin-bottom: 10%;
    margin-left: 34% !important;
    width: 40% !important;
  }
}

/* Phone screens */
@media (max-width: 500px) and (min-width: 351px) {
  img.img-fluid {
    height: 100% !important;
    width: auto;
  }

  .responsive_box {
    width:260px !important;
    margin-left: 20% !important;
  }

  .reponsive_char {
    font-size: 10px !important;
    margin-left: 10% !important;
  }

  .h1 {
    font-size: 24px !important;
    margin-left: 28% !important;
  }

  .continueButton {
    margin-bottom: 10%;
    margin-left: 28% !important;
    width: 50% !important;
  }
}

/* Extra small screens */
@media (max-width: 350px) {
  .responsive_box {
    width:200px !important;
  }

  .reponsive_char {
    font-size: 10px !important;
  }

  .h1 {
    font-size: 20px !important;
  }

  .continueButton {
    margin-bottom: 10%;
  }
}

/* Media queries for responsive font sizes End */