{% extends 'template/index.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 serv-cell serv-recomm-cell">
                    Recommendations
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 serv-cell serv-quotes-cell">
                    Free Quotes
                </div>
            </div>
        </div>
        <div class="col-md-8 serv-cell serv-solution-cell">
            Solutions
        </div>
    </div>
</div>

{% endblock %}